/* Setting up the page's structure (size, color, background, fonts) */

:root {
    --left-space: 56px;
}

@font-face {
    font-family: "Norse Bold";
    src: url(./Norse-Bold.otf);
}

html {
    background-color: #121924;
}

body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

#container {
    background-color: #e8eaed;
    border-radius: 8px;
    box-shadow: 0px 0px 5px black;
    display: flex;
    flex-direction: row;
    margin: 50px 250px 50px 250px;
    min-height: calc(100vh - 100px);
}

/* Styling the left side of the form (image, attributions, odin-logo) */

#left-side {
    background-position: center center;
    background-image: url(background.jpg);
    background-size: cover;
    display: flex;
    width: 38%;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

#left-side > p, a {
    color: white;
    font-size: 12px;
}

#logo-div {
    background-color: rgb(0, 0, 0, 0.3);
    color: rgb(255, 255, 255, 0.8);
    display: flex;
    font-family: "Norse Bold";
    font-size: 6rem;
    justify-content: center;
    align-items: center;
    margin-top: 12vh;
}

#left-side > #logo-div > img {
    height: 86px;
}

/* Styling the form section */

#form-section {
    display: flex;
    flex-direction: column;
}

#right-side > p {
    font-size: 28px;
    padding: 38px 32px 40px var(--left-space);
}

#right-side > form {
    background-color: white;
    box-shadow: 0px 2px 8px rgb(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 24px 32px 32px 32px;
}

form > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input {
    box-sizing: border-box;
    border: 1px solid #e5e7eb;
    border-radius: 4px;
    padding: 4px 8px;
    width: 100%;
    font-size: 1rem;
    margin-right: 32px
}

label {
    font-size: 0.9rem;
    letter-spacing: 0.08rem;
}

#bottom {
    margin-top: 16px;
    display: flex;
    flex-direction: ro;
    padding-top: 24px;
    padding-left: 32px;
}

#bottom > button {
    border: none;
    background-color: #475569;
    padding: 4px 16px;
    border-radius: 6px;
    box-shadow: 2px 4px 3px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

#bottom > button:hover {
    background-color: #7285a0;
}

#bottom > p {
    margin-left: 8px;
}

#bottom > p > a {
    font-size: 1rem;
    color: #475569;
}

#bottom > p > a:hover {
    color: #7285a0;

}


